.completion {
  padding: 1rem;
  border-radius: 7px;
  transition: box-shadow 0.2s;
}

.pageheader {
  font-family: 'Inter Tight', Sans-Serif;
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin-bottom: 1rem;
}

/* //center Historyicon with text in the same div */
.historyicon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;

  /* move icon up a bit */
  margin-top: -2px;
}
